<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:test="${title}"></title>
</head>
<body>
<h1 th:text="${h1}"></h1>
<hr>
<div th:if="${lista.isEmpty()}" th:text="${'No tiene elementos usurios'}"></div>
<table th:if="${! lista.isEmpty()}">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${lista}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:if="${user.email == null}" th:text="'N/A'"></td>
            <td th:if="${user.email}" th:text="${user.email}"></td>
        </tr>
    </tbody>

</table>
<!--<ul>-->
<!--    <li th:text="${user.firstname}"></li>-->
<!--    <li th:text="${user.lastname}"></li>-->
<!--    <li th:if="${user.email}" th:text="${user.email}"></li>-->
<!--    <li th:if="${user.email == null}" th:text="${'no tiene correo'}"></li>-->
<!--</ul>-->
</body>
</html>